{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat }}

<!-- Section Started Heading -->
<div class="section section-inner started-heading">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- titles -->
				<div class="m-titles">
					<div class="m-category splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
						{{ if .Params.categories }}
            {{ range (.GetTerms "categories") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
            {{ end }}
						<em> / {{ .PublishDate.Format $dateFormat }}</em>
						<span> / {{ i18n "by" }} <span class="author">{{ .Site.Params.authorName }}</span></span>
					</div>
					<div class="m-title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
						{{ .Title }}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Section Image Large -->
<div class="section section-inner m-image-large">
	<div class="image">
		{{ with .Params.fullImage }}
		<div class="img scrolla-element-anim-1 scroll-animate" data-animate="active" style="background-image: url({{ . | absURL }});"></div>
		{{ else }}
		<div class="img scrolla-element-anim-1 scroll-animate" data-animate="active" style="background-image: url({{ .Params.featureImage | absURL }});"></div>
		{{ end }}
	</div>
</div>

<div class="section section-inner m-archive">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-1">

				<div class="post-content">
					{{ .Content }}
				</div>

				<div class="post-details">
					{{ if .Params.tags }}
					<span class="tags-links">
						<span>{{ i18n "tags" }}:</span>
						{{ range (.GetTerms "tags") }}
						<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
						{{ end }}
					</span>
					{{ end }}

					<div class="share-post social-share" data-title="{{ .Title }}" data-url="{{ .Permalink | absURL }}">
						<span>{{ i18n "share" }}:</span>
						<a class="share-btn share-btn-facebook share-btn-1" title="{{ i18n "shareOn" }} Facebook">
								<i class="fab fa-facebook"></i>
						</a>
						<a class="share-btn share-btn-twitter share-btn-2" title="{{ i18n "shareOn" }} Twitter">
								<i class="fab fa-twitter"></i>
						</a>
						<a class="share-btn share-btn-linkedin share-btn-3" title="{{ i18n "shareOn" }} Linkedin">
								<i class="fab fa-linkedin"></i>
						</a>
						<a class="share-btn share-btn-reddit share-btn-4" title="{{ i18n "shareOn" }} Reddit">
								<i class="fab fa-reddit"></i>
						</a>
						<a class="share-btn share-btn-pinterest share-btn-5" title="{{ i18n "shareOn" }} Pinterest">
								<i class="fab fa-pinterest"></i>
						</a>
					</div>

				</div>

				{{ if .Site.Params.disqusComments }}
				<div class="comments-post scrolla-element-anim-1 scroll-animate" data-animate="active">

					<div class="section__comments">

						<div class="m-titles">
							<div class="m-title align-left">{{ i18n "comments" }}</div>
						</div>

						<div id="disqus_thread"></div>
						<script>
							var disqus_config = function () {
								this.page.url = "{{ .Permalink | absURL }}";  /* Replace PAGE_URL with your page's canonical URL variable */
								this.page.identifier = "{{ .File.UniqueID }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
							};
							(function() { /* DON'T EDIT BELOW THIS LINE */
								var d = document, s = d.createElement('script');
								s.src = 'https://{{ .Site.Params.disqusComments }}.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

					</div>
				</div>
				{{ end }}

			</div>
		</div>
	</div>
</div>

{{ if or .NextInSection .PrevInSection }}

{{ "<!-- Navigation -->" | safeHTML }}
<div class="section section-inner m-page-navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-2">
				<div class="h-titles h-navs">
					{{ if .NextInSection }}
					<a href="{{ .NextInSection.Permalink }}">
						<span class="nav-arrow scrolla-element-anim-1 scroll-animate" data-animate="active">{{ i18n "nextProject" }}</span>
						<span class="h-title splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">{{ .NextInSection.Title }}</span>
					</a>
					{{ else }}
					<a href="{{ .PrevInSection.Permalink }}">
						<span class="nav-arrow scrolla-element-anim-1 scroll-animate" data-animate="active">{{ i18n "prevProject" }}</span>
						<span class="h-title splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">{{ .PrevInSection.Title }}</span>
					</a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}

{{ end }}
