{{ with .Site.Data.about.services }}
{{ if .enable }}

{{ "<!-- Section Services -->" | safeHTML }}
<div class="section section-inner m-services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 align-left col-lg-12">

        <div class="m-titles">
          <h2 class="m-title scrolla-element-anim-1 scroll-animate" data-animate="active">{{ .title }}</h2>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="services-items row">

          {{ range .items }}
          <div class="services-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="services-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <div class="icon">
                <i aria-hidden="true" class="{{ .icon }}"></i>
              </div>
              <div class="name">{{ .title }}</div>
              <div class="text">{{ .text | safeHTML }}</div>
            </div>
          </div>
          {{ end }}

        </div>

      </div>
    </div>
  </div>
</div>

{{ end }}
{{ end }}
