{{ with .Site.Data.about.video }}
{{ if .enable }}

{{ "<!-- Section Video Large -->" | safeHTML }}
<div class="section section-inner m-video-large">
  <div class="video scrolla-element-anim-1 scroll-animate" data-animate="active">
    <div class="img js-parallax" style="background-image: url({{ .image | absURL }});"></div>
    <iframe class="js-video-iframe" data-src="https://www.youtube.com/embed/{{ .video_id }}?showinfo=0&rel=0&autoplay=1"></iframe>
    <div class="play"></div>
  </div>
</div>

{{ end }}
{{ end }}
